# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
!dist/ElectricitySimulator-Windows-x64.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Packaging manifest
manifest.txt

# Maven build output
target/

# IDE metadata
.idea/
*.iml
.classpath
.project
.settings/
out/

# Operating-system files
.DS_Store
Thumbs.db

